<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.ac.kopo.symovie.model.Movie" alias="Movie"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Customer" alias="Customer"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Food" alias="Food"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Cart" alias="Cart"/>
		<typeAlias type="kr.ac.kopo.symovie.model.MovieImage" alias="MovieImage"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Event" alias="Event"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Coupon" alias="Coupon"/>
		<typeAlias type="kr.ac.kopo.symovie.model.FoodImage" alias="FoodImage"/>
		<typeAlias type="kr.ac.kopo.symovie.model.CouponCustomer" alias="CouponCustomer"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Orders" alias="Orders"/>
		<typeAlias type="kr.ac.kopo.symovie.model.OrderDetail" alias="OrderDetail"/>
		<typeAlias type="kr.ac.kopo.symovie.model.Ordering" alias="Ordering"/>
		<typeAlias type="kr.ac.kopo.symovie.model.OrderFood" alias="OrderFood"/>
		<typeAlias type="kr.ac.kopo.symovie.model.AddFood" alias="AddFood"/>
		<typeAlias type="kr.ac.kopo.symovie.model.MegaMovie" alias="MegaMovie"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/movie.xml"/>
		<mapper resource="mapper/customer.xml"/>
		<mapper resource="mapper/food.xml"/>
		<mapper resource="mapper/event.xml"/>
		<mapper resource="mapper/coupon.xml"/>
		<mapper resource="mapper/orders.xml"/>
	</mappers>
</configuration>
