@charset "UTF-8";

body{
	height:100%;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height:100vh;
	overflow: hidden;
	padding-bottom: 100px;
}

.movie-info-box {
	display: flex;
	min-height: 250px;
	flex-direction: column;
	align-self: stretch;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%,
		rgba(0, 0, 0, 0.50) 100%), url("/resources/img/movie-list-img.jpg")
		lightgray 50%/cover no-repeat;
	justify-content: center;
}

.text1-box {
	display: flex;
	height: 61px;
	align-items: center;
	gap: 25px;
	flex-shrink: 0;
}

.movie-info-text1 {
	color: #FFF;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 45px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.text2-box {
	display: flex;
	align-items: center;
	gap: 27px;
}

.movie-info-text2 {
	color: #FFF;
	font-family: "Noto Sans";
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.genre-select-box {
	display: flex;
	width: 100%;
	height: 35px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.genre-select-text {
	color: #BE0000;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
}

.info-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 55px;
	left: 134.531px;
	top: 70px;

}

.text-group {
	display: flex;
	height: 182px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 21px;
	position: relative;
	margin-left: 50px;
}

.genre-select-button-group {
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.genre-btn {
	display: flex;
	height: 68px;
	padding: 0 65px;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
	flex: 1 0 0;
	flex-wrap: wrap;
	border: 1.5px solid gray;
	background: rgba(217, 217, 217, 0.00);
	
}

.genre-btn:hover {
	background: #BE0000;
	transition-duration: 0.2s;
	cursor: pointer;
	border: 2px solid #BE0000;
}

.genre-btn:hover span {
	color: white;
	transition-duration: 0.2s;
	cursor: pointer;
}

.genre-text {
	color: #0E0E0E;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 2.8px;
}

.movie-table-box {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.movie-table{
	
	width: 80%;
	
}

.thead-row {
	height: 35px;
}

th {
	background: #BE0000;
	color: white;
	text-align: center;
	align-content: center;
	font-family: "Noto Sans";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	min-height: 100px;
	padding: 15px 0;
	border-top: 2px solid #BE0000;
	border-bottom: 2px solid #BE0000;
}



.tbody-row {
	height:200px;
}

td {
	color: #000;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	align-content: center;
	min-width: 200px;
	border-bottom: 1px solid #DDDDDD;
}

.add-btn-box{
	display: flex;
	top:250px;
	justify-content: flex-end;
	margin-right: 150px;
	margin-top: 50px;
}

.add-btn-frame{
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 70%;
	margin-bottom: 50px;
}

.add-btn{
	background: #BE0000;
	color: white;
	width: 200px;
	border:none;
	border-radius: 10px;
	height:50px;
	font-weight: 700;
	font-family: "Noto Sans";
	font-size: 20px;
	border: 2px solid #BE0000;
}

.add-btn:hover{
	background: white;
	color: #BE0000;
	transition-duration: 0.2s;
	cursor: pointer;	
}

.footer{
	top:300px;
	position: relative;
}

.middle{
	display: flex;
	flex-direction:column;
	gap: 40px;
	margin-top: 30px;
	align-items: center;
}

.pages{
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
	
}

.pages a{
	color: black;
	text-decoration: none;
	font-family: "Noto Sans";
	font-weight: 700;
	justify-content: center;
}

.pages .active{
	color: #BE0000;
	font-wight: 700;
	font-family: "Noto Sans";
	text-decoration: none;
	font-size: 20px;
}


#agerange-sort{
	cursor: pointer;
}

.movie-image{
	width: 150px;
	height: 180px;
	
}

.search-form-box{
	display:flex;
	width: 80%;
	justify-content: flex-end;
	
}

.search-form{
	display: flex;
	align-items: center;
	align-content: center;
}

.pushed{
	background: #BE0000;
	transition-duration: 0.2s;
	cursor: pointer;
	border: 2px solid #BE0000;
}

.pushed span{
	color: white;
	transition-duration: 0.2s;
	cursor: pointer;
}

.cart-btn{
	border: 2px solid #4B52C7;
	border-radius: 5px;
	background: #4B52C7;
	color: white;
	font-size: 15px;
	font-family: "Noto Sans";
	font-weight: 500;
	min-width: 80px;
	min-height: 30px;
	margin-bottom: 10px;
}

.cart-btn:hover{
	background: none;
	color: #4B52C7;
	transition-duration: 0.2s;
	cursor: pointer;
}

.order-btn{
	background: #BE0000;
	border: 2px solid #BE0000;
	border-radius: 5px;
	min-width: 80px;
	min-height: 30px;
	color: white;
	font-weight: 500;
	font-family: "Noto Sans";
	font-size: 15px;
	margin-bottom: 10px;
}

.order-btn:hover{
	background: none;
	color: #BE0000;
	transition-duration: 0.2s;
	cursor: pointer;
}

.update-btn{
	background: none;
	border: 1px solid black;
	border-radius: 5px;
	min-width: 80px;
	min-height: 30px;
	font-size: 15px;
	font-family: "Noto Sans";
	font-weight: 500;
	color: black;
}

.update-btn:hover{
	background: black;
	color: white;
	transition-duration: 0.2s;
	cursor: pointer;
}

.delete-btn{
	background: none;
	border: 1px solid red;
	border-radius: 5px;
	min-width: 80px;
	min-height: 30px;
	font-size: 15px;
	font-family: "Noto Sans";
	font-weight: 500;
	color: red;
}

.delete-btn:hover{
	background: red;
	color: white;
	transition-duration: 0.2s;
	cursor: pointer;
}

.cust-btn-group{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 20px;
	margin-right: 100px;
}


.back-btn{
	background: none;
	color: #DDDDDD;
	min-width: 80px;
	border: 2px solid #DDDDDD;
	border-radius: 10px;
	height:50px;
	font-weight: 700;
	font-family: "Noto Sans";
	font-size: 20px;
}

.back-btn:hover{
	background: #DDDDDD;
	color: white;
	transition-duration: 0.2s;
	cursor: pointer;
}